.Head{
    background-color: rgb(78, 224, 72);
    top: 0;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 220px;
    position: relative;
}

.Head > h1{
    padding-top: 5px;
    margin: 0 0 0 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.5em;
}

.Head > img.MainIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.HeadAutoCompleteItem{
    background-color: rgb(149, 43, 43);
    top: 0;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 50%;
}

.ApartHead1{
    background-color: black;
    top: 0;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 50%;
}
