.App{
    background-image:url('./image/main_background.jpg');
    top:0;
    left:0;
    position:absolute;
    background-size:100%;
    opacity:0.9!important;
    z-index:-1;
    width:100%;
    height:100%;
}

.App-Component{
    margin: 150px auto 0 auto;
    width: 100%;
}

